@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h2,
h3,
h4,
h5,
h6 {
    font-family: "Antonio", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
}